* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background: -webkit-linear-gradient(90deg,#d86a65,#935c95,#1e5a84);
    background: linear-gradient(90deg,#d86a65,#935c95,#1e5a84);
}

h1 {
    text-align: center;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 25px;
    background: rgba(255,255,255,.4);
}

.admin-actions {
    display: flex;
    margin: 20px;
}

.logout {
    display: flex;
    justify-content: flex-end;
}

.admin-actions input, .logout input {
    padding: 0.7em;
    border: none;
    border-radius: 20px;
    background: rgba(255,255,255,.7);
}

.admin-actions input {
    margin-right: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    padding: .5em;
    border: 1px solid black;
}